/* width / height */
.w-100 {
    width: 100%;
}

.hg-100 {
    height: 100%;
}
.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
@media (min-width: 1024px) {
    .section {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
.h1 {
    font-size: 3.2rem;
}
.h2 {
    font-size: 3rem;
}
.h3 {
    font-size: 2.8rem;
    line-height: 1.4;
}
.h4 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
}
.h5 {
    font-size: 1.4rem;
    font-weight: 500;
}
.heading {
    font-size: 3.2rem;
    font-family: "GFS Didot", serif;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
/* spacing */
.mt-15 {
    margin-top: 1.5rem;
}
.mt-20 {
    margin-top: 2rem;
}
.mt-25 {
    margin-top: 2.5rem;
}
.mt-30 {
    margin-top: 3rem;
}
.mt-50 {
    margin-top: 5rem;
}
.mt-80 {
    margin-top: 8rem;
}
.pb-05 {
    padding-bottom: 0.5rem;
}
.pd-10 {
    padding: 1rem;
}
.pt-10 {
    padding-top: 1rem;
}
.pr-10 {
    padding-right: 1rem;
}
.pb-10 {
    padding-bottom: 1rem;
}
.pl-10 {
    padding-left: 1rem;
}
.pt-15 {
    padding-top: 1.5rem;
}
.pb-15 {
    padding-bottom: 1.5rem;
}
.pr-20 {
    padding-right: 2rem;
}
.pl-20 {
    padding-left: 2rem;
}
.pr-25 {
    padding-right: 2.5rem;
}
.pl-25 {
    padding-left: 2.5rem;
}
.pt-30 {
    padding-top: 3rem;
}
.pb-30 {
    padding-bottom: 3rem;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border {
    border: 1px solid #e5e5e5;
}

.fit-cover {
    object-fit: cover;
}
.list-unstyle {
    list-style: none;
}
.cursor-pointer {
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-white {
    color: var(--white-cl);
}
.text-red {
    color: var(--red-cl);
}
.font-family-didot {
    font-family: "GFS Didot", serif;
}
/*  */
.d-block {
    display: block;
}
/*  flex */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.d-none {
    display: none;
}
.d-grid {
    display: grid;
}

@media (min-width: 768px) {
    .d-flex-md {
        display: flex;
    }
    .d-none-md {
        display: none;
    }
}
@media (min-width: 1024px) {
    .d-flex-lg {
        display: flex;
    }
    .d-none-lg {
        display: none;
    }
}
