:root {
    --gap: 3rem;
    --container-max-width: 1310px;
}
.container {
    max-width: var(--container-max-width);
    padding-right: calc(var(--gap) / 2);
    padding-left: calc(var(--gap) / 2);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(-1 * (var(--gap) / 2));
}
.col {
    padding-inline: calc((var(--gap)) / 2);
    flex: 1 0 auto;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 568px) {
    [style*="--w-sm"] {
        width: calc(100% / 12 * var(--w-sm));
        max-width: calc(100% / 12 * var(--w-sm));
    }
    [style*="--sm-col"] {
        grid-column: span var(--sm-col);
    }
}
@media (min-width: 768px) {
    [style*="--w-md"] {
        width: calc(100% / 12 * var(--w-md));
        max-width: calc(100% / 12 * var(--w-md));
    }
}
@media (min-width: 1024px) {
    :root {
        --gap: 4rem;
    }
    [style*="--w-lg"] {
        width: calc(100% / 12 * var(--w-lg));
        max-width: calc(100% / 12 * var(--w-lg));
    }
    [style*="--lg-col"] {
        grid-column: span var(--lg-col);
    }
}

@media (min-width: 1200px) {
    [style*="--w-xl"] {
        width: calc(100% / 12 * var(--w-xl));
        max-width: calc(100% / 12 * var(--w-xl));
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.d-grow {
    gap: var(--gap);
}

/* grid */
.grid-column-1 {
    grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
    .grid-column-2-md {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .grid-column-2-lg {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-column-3-lg {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-column-4-lg {
        grid-template-columns: repeat(4, 1fr);
    }
}
